---
layout: default
title: home
---

<section class="cf">
    <h1 class="f2 f-subheadline-ns lh-solid tc tl-ns mb4 pa3 ph0 w-100 w-75-ns">Product Design &amp; Development</h1>
    <div class="dt">

        <div class="db dtc-l v-mid ph2 pr0-ns pl3-ns">
            <h3 class="black tc tl-l f4 f3-ns pt4">Recent Work: Dashboard Redesign</h3>
            <p class="black-80 f4 tc tl-ns pa3 ph0 lh-copy">
                A complete redesign and rebuild of a web application
            </p>
            <p class="center f6 mw6 mw7-l pb4 mb4 tc tl-l ttu tracked">
                <a href="/works/dashboard.html" class="link db tc tl-l f6 near-black hover-gray mw6 mw7-l pa4 ph0 mb4 ttu tracked">View Project</a>
            </p>
        </div>
        <div class="db dtc-l v-mid-l">
            <img src="/assets/images/dash_mac.png" alt="A bright blue sky" class="w-100 w-80-l fr-l" />
        </div>
    </div>
</section>

<section>
    {% for post in site.categories["thoughts"] limit:1 %}
    {% assign post = site.posts.first %}
    {% assign content = post.content %}
    {% include post_detail.html %}
    {% endfor %}
</section>

<section>
    <h3 class="black tc f4 f3-ns pa4">Recent Dribbble Shots</h3>
    <ul class="cf shots"></ul>
    <a href="https://dribbble.com/designernaut" target="_blank" class="link db tc center f6 near-black hover-gray mw6 mw7-ns pa4 ph5-ns mb4 w4 ttu tracked">Explore More</a>
</section>