---
layout: default
title: home
---

<section>
    <h1 class="f2 f-subheadline-ns lh-solid tc mb4 pa3 ph5-ns">The Latest &amp; Greatest</h1>

    <img src="assets/images/divider.png" class="db mv5 center divider" height="12" width="62" alt="horizontal rule" />

    {% for post in site.categories["thoughts"] limit:1 %}
    {% assign post = site.posts.first %}
    {% assign content = post.content %}
    {% include post_detail.html %}
    {% endfor %}

    <img src="assets/images/divider.png" class="db mv5 center divider" height="12" width="62" alt="horizontal rule" />

    <a href="/works/dashboard.html" class="no-underline db white dim link">
      <div class="dashboard w-100 mv4 center br2">
        <div class="w-100 db">
          <h3 class="black tc f4 f3-ns pa4 pb0">Dashboard Redesign</h3>
          <p class="black-80 center w-80 w-60-ns f4 tc pa3 measure lh-copy">
            A complete redesign and rebuild of a web application
          </p>
          <p class="center f6 mw6 mw7-ns pb4 ph5-ns mb4 tc ttu tracked">
            <a href="/works/dashboard.html" class="link db tc center f6 white mw6 mw7-ns pa4 ph5-ns w4 hover-near-white btn">View More</a>
          </p>
        </div>
      </div>
    </a>
</section>