---
layout: default
title: home
---

<section class="cf">
    <h1 class="f1 f-subheadline-ns lh-solid tc tl-l mb4 pa3 ph0 w-100 w-75-l tg-red">Product Design &amp; Development</h1>
    <div class="dt bg-near-white pa5 br3">
        <div class="db dtc-l v-mid pr0-l pl5-l">
            <h3 class="black tc tl-l f4 f3-ns">Recent Work: Dashboard Redesign</h3>
            <p class="black-80 f4 tc tl-l pa3 ph0 lh-copy">
                A complete redesign and rebuild of a web application
            </p>
            <p class="center f6 tc mw4 fl-l tl-l ttu tracked">
                <a href="/works/dashboard.html" class="link db tc tl-l f6 near-black hover-gray pt4 ph0 mb6 mb0-l bb ttu tracked">View Project</a>
            </p>
        </div>
        <div class="db dtc-l v-mid-l">
            <img src="/assets/images/dash_mac.png" alt="A bright blue sky" class="w-100 w-80-l fr-l projectImg" />
        </div>
    </div>
</section>

<section class="mv6 center measure">
    {% for post in site.categories["thoughts"] limit:1 %}
    {% assign post = site.posts.first %}
    {% assign content = post.content %}
    {% include post_detail.html %}
    {% endfor %}
</section>

<section>
    <h3 class="black tc f4 f3-ns pa4">Recent Dribbble Shots</h3>
    <ul class="cf shots"></ul>
    <a href="https://dribbble.com/designernaut" target="_blank" class="link db tc center f6 near-black hover-gray mw6 mw7-ns pa4 ph5-ns mb4 w4 ttu tracked">Explore More</a>
</section>