<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Designernaut</title>
    <meta name="viewport" content="initial-scale=1, minimal-ui" />

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <!-- Navigation Header -->
        <nav class="db dt-ns w-100 border-box pa4 ph5-ns">
          <a class="db dtc-ns v-mid mid-gray link dim w-100 w-25-ns tc tl-ns mb2 mb0-ns" href="/" title="Home">
            <img src="../assets/images/naut.png" class="dib" height="24" width="28" alt="Designernaut"> Designernaut / Michael Ellis
          </a>
          <div class="db dtc-ns v-mid w-100 w-75-ns tc tr-ns">
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/" title="Home">Home</a>
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/thoughts" title="Thoughts">Thoughts</a>
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/works" title="Works">Works</a>
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/about" title="About">About</a>
            <a class="link dim dark-gray f6 f5-ns dib" href="/contact" title="Contact">Contact</a>
          </div>
        </nav>
    </header>