<h1 class="f4 f3-ns tc mb4 pa3 ph5-ns">
{% if post.title %}
    Recent Thought: <a class="link dim black no-underline" href="{{ post.url }}">{{ post.title }}</a>
{% endif %}
</h1>

<!--<p class="center f6 white mw6 mw7-ns pa4 ph5-ns mb4 lh-copy tc ttu tracked">{{ post.date | date: "%B %d, %Y" }}</p>-->

{{ post.excerpt }}

<a class="link db tc center f6 white mw6 mw7-ns pa4 ph5-ns mb4 w4 hover-near-white ttu tracked btn" href="{{ post.url }}">Read More</a>

<!--<p class="categories">Filed under: <span>{{ post.tags | join: ', ' }}</span></p>

<p class="more">If you like what you're reading here, consider giving me a <a href="https://twitter.com/designernaut">follow on twitter</a>{% if page.previous %}<span class="previous-link"> or read my previous post, <a rel="prev" href="{{ page.previous.url }}">{{ page.previous.title }}</a></span>{% endif %}.</p>-->