<div class="sidebar">
    <header>
        <a class="logo" href="/">Designernaut</a>
        <p>Michael Ellis is a designer and front-end developer.</p>
    </header>
    <nav>
        <ul>
            <li><a href="/thoughts">Thoughts</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/purpose">Purpose</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <p class="twitter_btn"><a href="https://twitter.com/designernaut" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @designernaut</a></p>
    <p class="copyright">&copy; 2011-2016 Michael Ellis</p>
</div>