---
layout: default
title: thoughts
---

<section>
    <h1 class="f2 f-subheadline-ns tc mb4 pa3 ph5-ns">Thoughts</h1>
    <ul class="all-posts posts-by-year">
    {% for post in site.categories["thoughts"] %}
        {% if post.hidden != true %}
    		{% capture currentyear %}{{post.date | date: "%B %Y"}}{% endcapture %}
    		{% if currentyear != year %}
    			{% unless forloop.first %}</ul>{% endunless %}
    			<h2 class="year">{{ currentyear }}</h2>
    			<ul class="posts-list">
    			{% capture year %}{{currentyear}}{% endcapture %}
    		{% endif %}
    		<li><a href="{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date: "%B %d, %Y" }}</span></li>
        {% endif %}
      {% endfor %}
      </ul>
</section>