---
layout: default
title: thoughts
---

<section>
    <h1 class="f2 f-subheadline-ns lh-solid tc tl-l mb4 pv3-ns mt0 mt4-ns ph0 w-100 w-75-l tg-red">Thoughts</h1>
    {% for post in site.posts  %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

        {% if forloop.first %}
        <h2 class="f3 f2-ns tc mb4 pt3 ph5-ns" id="{{ this_year }}-ref">{{this_year}}</h2>
        <ul class="pa0">
        {% endif %}

        <li class="db"><a class="f4 f3-ns tc ph5-ns b db pa2 link dim mid-gray" href="{{ post.url }}">{{ post.title }}</a></li>

        {% if forloop.last %}
        </ul>
        {% else %}
            {% if this_year != next_year %}
            </ul>
            <h2 class="f3 f2-ns tc mb4 pt3 ph5-ns" id="{{ next_year }}-ref">{{next_year}}</h2>
            <ul class="pa0">
            {% endif %}
        {% endif %}
    {% endfor %}
</section>